<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TODO - APP</title>
  </head>
  <body>
    <h1>Edit Task</h1>
    <hr />
    <form action="" method="POST">
      <label for="title">Title</label>
      <input
        type="text"
        name="title"
        value="{{ task.title }}"
        placeholder="Title"
      />
      <label for="description">Desciption</label>
      <input
        name="description"
        placeholder="Description"
        value="{{ task.description }}"
      ></input>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
