<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TODO - APP</title>
  </head>
  <body>
    <h1>My Todo App</h1>
    <hr />
    {% if not tasks %}
    <p>You have no taks now</p>
    {% else %} {% for task in tasks %}
    <ul>
      <li>
        {{task.title}} <a href="{{ url_for('delete', id=task.id) }}">Delete</a>
        <a href="{{ url_for('edit', id=task.id) }}">Edit</a>
      </li>
    </ul>
    {% endfor %} {% endif %}
    <a href="{{url_for('add')}}">Add new task</a>
  </body>
</html>
